name: Maven Build + Docker Image/Deploy

on:
  workflow_call:
    inputs:
      base-dir:
        required: false
        type: string
        default: .
      image-name:
        required: false
        type: string
        default: ${{ github.repository }}
      deploy:
        description:
          If the service should be deployed (this must be true AND we must be on the mainline
          branch)
        required: false
        type: boolean
        default: true
      service-name:
        description: Name of the service to deploy
        required: false
        type: string
        default: ${{ github.repository }}
    secrets:
      TS_OAUTH_CLIENT_ID:
        required: false # only if deploying
      TS_OAUTH_SECRET:
        required: false # only if deploying
      DEPLOY_SSH_USERNAME:
        required: false # only if deploying
      DEPLOY_SSH_HOST:
        required: false # only if deploying

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          show-progress: false # spammy

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven

      - name: Build with Maven
        run: mvn -B package verify
        working-directory: ${{ inputs.base-dir }}

      - name: Upload package
        uses: actions/upload-artifact@v6
        with:
          name: app.jar
          path: ${{ inputs.base-dir }}/target/*.jar
          retention-days: 1

  dockerize:
    needs: [build]
    runs-on: ubuntu-latest
    if: ${{ github.ref_name == github.event.repository.default_branch }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Print Docker version
        run: docker version

      - name: Install Latest Docker
        run: |
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu  $(lsb_release -cs)  stable"
          sudo apt-get update
          sudo apt-get install docker-ce

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ inputs.image-name }}

      - name: Checkout template repo
        uses: actions/checkout@v6
        with:
          repository: foxy-development/configs
          fetch-depth: 1
          show-progress: false # spammy

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: app.jar

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile.java-template
          push: ${{ inputs.deploy }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    needs: [dockerize]
    if: ${{ github.ref_name == github.event.repository.default_branch && inputs.deploy }}
    uses: ./.github/workflows/deploy.yaml
    secrets: inherit
    with:
      service-name: ${{ inputs.service-name }}
